/*
 Theme Name:     In Love with Love
 Template: bootstrap
*/
 
@import url("../bootstrap/style.css");

body {
	background-image: url('img/bg.jpg');

	padding-top: 0;
}

.main-wrapper {
	background-color: white;
	/*border: solid red 1px;*/
}

.header-wrapper {
	/*background: #B71C1C;*/
	background: #ef4d5b;
	padding-bottom: 10px;
}

.title-wrapper {
	text-align: center;
	color: #FFEBEE;
}

.main-title-wrapper {
	padding: 10px 0;
}

#main-title-wrapper {
	color: white;
	font-family: "Satisfy", cursive;
}

#main-subtitle-wrapper {
	font-family: "Quicksand", cursive;
	letter-spacing: 5px;
}

.nav {
	height: 40px;
	/*width: 100%;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	color: white;
	background: #455A64;

	font-family: "Quicksand";
	font-size: 1.7rem;
}

.nav a {
	height: 40px;
	line-height: 20px;

	color: white;
}

/*.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {*/
	/*background-color: #d32f2f;*/
/*}*/

.dropdown-menu {
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
	box-shadow: none;
	width: 100%;

	background-color: #cfd8dc;
}

.dropdown-menu > li > a {
	line-height: 40px;
}

.dropdown-menu > ul > li:nth-child(even) {
	background: #f0f;
}

.nav > li {
	height: 40px;
	width: 100%;
	z-index: 999;
	text-align: center;
}

.entry-header {
	font-family: 'Cabin';
}

.entry-content {
	font-family: 'Cabin';
	font-weight: 100;
}

.site-title a {
	font-family: 'Amatic SC';
	color: #8D89A6;
}

#social-row {
	height: 25px;
}

#social-row a {
	color: white;
}

.social-wrapper {
	display: flex;
	float: right;
}

.home-wrapper {
	display: flex;
}

#social-list {
	list-style: none;
	display: flex;
}

#home-icon {
	display: flex;
	list-style: none;
	padding: 0;
}

.social-icon {
	font-size: 2rem;
	margin: 10px;
	color: white;
}

body:before {
	background: #e6c0e9;
}

.entry-footer, .site-info {
	background: #8D89A6;
	padding: 10px;
	font-family: 'Cabin';
	text-align: center;
}

.entry-footer, .site-info, .entry-footer a {
	font-family: 'Cabin';
	color: white;
}

.secondary {
	font-family: 'Cabin';
}

#sidebar1 h4 {
	font-family: 'Quicksand';
}

.slider-book-column {
	text-align: center;
}

.sidebar-book {
	transition: 0.3s;
	margin-bottom: 15px;
}

.book {
	display: inline-block;
	/*position: relative;*/
	margin: 0 auto;
}

.sidebar-book:hover {
	transition: 0.3s;
	transform: scale(1.1, 1.1);
}

.sidebar-book-cover {
	min-width: 90px;
	max-width: 100%;
	height: 130px;
	overflow: hidden;

	-webkit-box-shadow: 0px 5px 5px 0px rgba(176,176,176,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(176,176,176,1);
	box-shadow: 0px 5px 5px 0px rgba(176,176,176,1);
}

.slider-book {
	margin-top: 30px;
}

.slider-book-cover {
	min-width: 90px;
	width: 170px;
	height: 230px;
	overflow: hidden;

	-webkit-box-shadow: 0px 13px 24px 5px rgba(77,77,77,1);
	-moz-box-shadow: 0px 13px 24px 5px rgba(77,77,77,1);
	box-shadow: 0px 13px 24px 5px rgba(77,77,77,1);
}

.new-sash {
	display: inline-block;
	max-width: 50px;
	max-height: 50px;

	position: absolute;
	top: -5px;
	left: 9px;
	margin: 0 auto;
}

.big-sash {
	width: 100px;
	height: 100px;

	max-width: 100px;
	max-height: 100px;

	top: 19px;
	left: 49px;
}

.anim-bookshelf {
	height: 300px;
	background-image: url('img/slider_bg.png');
	overflow: hidden;
	border-bottom: 3px solid #455A64;
}

.menu-item > a {
	transition: 0.5s;
}

.menu-red > a:hover, .menu-red > a:focus {
	background-color: #f44336 !important;
}

.menu-yellow > a:hover, .menu-yellow > a:focus {
	background-color: #ffc107 !important;
	color: black;
}

.menu-green > a:hover, .menu-green > a:focus {
	background-color: #4caf50 !important;
}

.menu-blue > a:hover, .menu-blue > a:focus {
	background-color: #2196f3 !important;
}

.menu-purple > a:hover, .menu-purple > a:focus {
	background-color: #9c27b0 !important;
}

.widget_search form {
	padding-left: 15px;
}

.search > fieldset > .input-group, .search > .input-group > input {
	width: 100%;
}

.btn-search {
	background-color: #f44336;
	color: white;
}

.currently-reading {
	text-align: center;
}

.currently-reading > #book_title {
	color: #f44336;
	font-family: "Quicksand", cursive;
	font-size: 2.5rem;
}
.currently-reading > #book_by {

}
.currently-reading > #book_author {

}

@media (min-width: 900px) {
	body {
		padding-top: 30px;
	}
	#main-title-wrapper {
		font-size: 9rem;
		line-height: 40px;
		padding-top: 30px;
	}
	#main-subtitle-wrapper {
		font-size: 2.2rem;
	}
	.widget {
		padding-top: 15px;
	}
}

@media (max-width: 899px) {
	#main-title-wrapper {
		font-size: 6rem;
		line-height: 40px;
		padding-top: 30px;
	}
	#main-subtitle-wrapper {
		font-size: 2.2rem;
	}
}

@media (max-width: 700px) {
	.anim-bookshelf {
		display: none;
	}
	#main-title-wrapper {
		font-size: 40px;
	}

	.sidebar-book img {
		min-width: 0;
		height: 100px;
	}
}